{% extends 'LouvreTicketBundle::layout.html.twig' %}
{% block body %}
    {{ form_start(billForm) }}
    <a href="#" id="add_Visitor" class="btn btn-default">Ajouter un visiteur</a>

    <button type="submit">Valider</button>
    {{ form_end(billForm) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/form.js') }}"></script>
{% endblock %}