{% extends "@LouvreTicket/layout.html.twig" %}
{% block body %}
    <div class="nav-space-checkout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <form action="" method="post">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_M2slipltlDyZSt1hVaWob7x6"
                                data-amount="999"
                                data-name="Dollar Shear Club"
                                data-description="Widget"
                                data-image="/img/documentation/checkout/marketplace.png"
                                data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

